@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@300&display=swap');

:root {
  --app-header-color: #282c34;
  --button-color: white;
  --menu-color: #5838b4;
  --text-color: #5838b4;
  --small-link-btn-color: white;
  --footer-background: rgb(220, 235, 255);
  --home-div-bg-color: white;
  --nav-menu-btn-color: rgb(10, 25, 41);
  --big-title-text: black;
}

* {
  font-family: 'Poppins', sans-serif;
  font: Verdana, Arial, 'sans-serif' !important;
}

.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.centeronly {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
}

.loginInput {
  text-align: left;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding: 8px;
  font-size: 15px;
}

.bigTitleText {
  font-family: 'Open Sans';
  font-size: 80px;
  color: var(--big-title-text);
  
  font-weight: 1000;
  text-align: left;
}

.midTitleText {
  font-size: 30px;
  color: var(--big-title-text);
  font-weight: bold;
}

.smallTitleText {
  font-size: 20px;
  font-weight: 700;
  color: var(--big-title-text);
  text-align: left;
  margin-left: 8px;
}

.mainTitleMenu {
  background-color: white;
  padding-top: 30px;
  float: left;
}

.rightBlock {
  float: right;
}

.fancy-box-with-button {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  display: block;
  position: relative;
  height: 48px;
  box-sizing: border-box;
  padding-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 7px 7px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.fancy-box-with-button input {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  background-color: transparent;
}

.fancy-box-with-button button {
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100px;
  border: none;
  color: white;
  background-color: #339DFF;
}

#footer {
  clear: both;
}

.imageBox {
max-width: 30%;
max-height: 30%;
}

.picture {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
}