:root {
  --app-header-color: #282c34;
  --button-color: white;
  --menu-color: #5838b4;
  --text-color: #5838b4;
  --navmenu-btn-color: black;
  --navmenu-icon-color: purple;
  --navmenu-item-color: white;
  --small-link-btn-color: white;
  --footer-background: rgb(220, 235, 255);
  --app-link-color: #5838b4;
  --home-div-bg-color: white;
  --nav-menu-btn-color: rgb(10, 25, 41);
  --big-title-text: black;
  --small-title-text: orange;
}

* {
  font-family: 'Poppins', sans-serif;
  font: Verdana, Arial, 'sans-serif' !important;
}

.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--app-header-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--app-link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





.centeronly {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}



body {
  margin: 0;
  padding: 0;
}



.loginInput {
  text-align: left;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding: 8px;
  font-size: 15px;
}

.login {
  margin-bottom: 1%;
  align-items: center;
  appearance: none;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -1px,
    rgba(0, 0, 0, 0.14) 0 3px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 9px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: block;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  width: 400px;
  z-index: 0;
}



.bigTitleText {
  font-size: 80px;
  color: var(--big-title-text);
  font-weight: 1000;
  text-align: left;
}

.midTitleText {
  font-size: 40px;
  color: var(--big-title-text);
  font-weight: 1000;
}

.smallTitleText {
  font-size: 15px;
  font-weight: 700;
  color: var(--big-title-text);
}

.mainTitleMenu {
  background-color: white;
  padding-top: 30px;
  padding-bottom: -60px;
  margin-bottom: -60px;
}


.button-google {
  align-items: center;
  appearance: none;
  background-color: #339DFF;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 7px 7px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform, opacity;
  z-index: 0;
}

.button-google:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-google:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-google:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-google:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-google:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-google:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-google:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-google:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}